name: Pre-build Dev Container

on:
  push:
    branches: [main]

concurrency:
  group: devcontainer-prebuild
  cancel-in-progress: true

jobs:
  prebuild:
    name: Pre-build Dev Container Image
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pre-build dev container image
        uses: devcontainers/ci@a56d055efecd725e8cfe370543b6071b79989cc8 # v0.3.1900000349
        with:
          imageName: ghcr.io/minhanuvem/cloudflare-devcontainer
          cacheFrom: ghcr.io/minhanuvem/cloudflare-devcontainer
          push: always
